anyio
beautifulsoup4
certifi
charset-normalizer
click
ddgs
duckduckgo_search
h11
httpcore
httpx
idna
lxml
markdown-it-py
mdurl
mysql-connector-python
pillow
primp
Pygments
reportlab
requests
rich
soupsieve
typing_extensions
urllib3
fastapi
uvicorn
PyJWT
pydantic
pydantic-settings
pymetasploit3
python-dotenv
aiofiles
starlette
paramiko
pycryptodome
duckduckgo-search